
@{
    ViewData["Title"] = "BlogIndex";
    List<Blog> blogs = Model;
}

<!-- Banner Area Start -->

@await Component.InvokeAsync("Banner", "Blog")

<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
          @await Component.InvokeAsync("Blog", new { count=3, page=ViewBag.Page}) 

        </div>
        <div class="row">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (ViewBag.Page == i)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                        </li>
                    }

                }


            </ul>

        </div>
    </div>
</div>
<!-- Blog End -->

