@{
    ViewData["Title"] = "Index";
    List<Course> courses = Model;
}



<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Courses</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Fee</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in courses)
                            {
                                <tr>
                                    <td><img width="150" height="150" src="~/img/course/@course.Image"     /></td>
                                    <td>@course.Name</td>
                                    <td>@course.CourseDetail.CourseFee</td>
                                    <td>@course.CourseDetail.Starts.ToString("dd MMMM yyyy")</td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@course.Id" class="btn btn-warning">Update</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







