@model SocialMedia
@{
    ViewData["Title"] = "Create";
}




<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Link Details</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <p>@ViewBag.teacher.Name</p>
                    <p>@Model.Icon</p>
                    <p>@Model.Link</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <a asp-action="Index" class="btn btn-primary">Go Back</a>
    <form method="post">
        <button type="submit" class="btn btn-danger mr-2">Delete</button>
    </form>
</div>

